<div class="ui inverted vertical footer segment">
  <div class="ui center aligned container">
    <ul>
      <li> <i class="facebook square icon"></i>Facebook</li>
      <li> <i class="twitter square icon"></i>Twitter</li>
      <li> <i class="github square icon"></i>Github</li>
      <li> <i class="linkedin square icon"></i>LinkedIn</li>

    </ul>
  </div>

<div class="ui inverted section divider"></div>
      <div class="ui horizontal inverted small divided link list">
        <a class="item" href="#">Site Map</a>
        <a class="item" href="#">Contact Us</a>
        <a class="item" href="#">Terms and Conditions</a>
        <a class="item" href="#">Privacy Policy</a>
      </div>
    </div>
  </body>
</html>
